version: 2
jobs:
  build:
    docker:
      - image: ishiko/gcc-ishiko-cpp:0.2.0
    steps:
      - run: 
          name: "Set DIPLODOCUSDB environment variable and create workspace directory"
          command: mkdir -p /projects/diplodocusdb && echo 'export DIPLODOCUSDB="/projects/diplodocusdb"' >> $BASH_ENV
      - run:
          name: "Install build dependency: DiplodocusDB Core"
          command: cd /projects/diplodocusdb && git clone https://github.com/diplodocusdb/core.git && cd core/build/gnumake && make
      - checkout:
          path: /projects/diplodocusdb/tree-db
      - run:
          name: Build TreeDB/Core
          command: cd /projects/diplodocusdb/tree-db/core/build/gnumake && make
      - run:
          name: Build TreeDB/Core tests
          command: cd /projects/diplodocusdb/tree-db/tests/Core/Makefiles/GNUmakefile && make
      - run:
          name: Run TreeDB/Core tests
          command: cd /projects/diplodocusdb/tree-db/tests/Core/Makefiles/GNUmakefile && ./DiplodocusTreeDBCoreTests
      - run:
          name: Build TreeDB/XMLTreeDB
          command: cd /projects/diplodocusdb/tree-db/xml-tree-db/Makefiles/GNUmakefile && make
      - run:
          name: Build TreeDB/XMLTreeDB tests
          command: cd /projects/diplodocusdb/tree-db/tests/XMLTreeDB/Makefiles/GNUmakefile && make
      - run:
          name: Run TreeDB/XMLTreeDB tests
          command: cd /projects/diplodocusdb/tree-db/tests/XMLTreeDB/Makefiles/GNUmakefile && ./DiplodocusXMLTreeDBTests
